<form action="/payment/results">

  <label for="lion">APR</label>
  <input id="lion" type="text" placeholder="E.g. 5.42" name="lion">

  <label for="hippo">Number of years</label>
  <input id="hippo" type="text" placeholder="How many years to reply?" name="hippo">

  <label for="ant">Principal</label>
  <input id="ant" type="text" placeholder="How much principal?" name="ant">

  <button>Calculate monthly payment</button>

</form>

<a href="">