<form action="/random/results">

  <label for="giraffe">Minimum</label>
  <input id="giraffe" type="text" placeholder="E.g. 1.5" name="elephant">

  <label for="giraffe">Maximum</label>
  <input id="dan" type="text" placeholder="E.g. 4.5" name="elephant">


  <button>Pick random number</button>

</form>

<a href="">